#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: min-content;
    
}

#form-button {
    display: flex;
}

#input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 600px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    
}

.row {
    display: flex;
    width: min-content;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    font-size: 60px;
}

.sol-list {
    column-count: 6;
    list-style-type: none;
    height: auto;
  }

.sol-item {
    font-size: 20px;

}

#form {
    margin-right: 0px;
    flex: auto;
}

  #container{
    display: flex;
  }

  #grid{
    flex: 30%;
  }

  #solutions{
    flex: 70%;
  }

  #button{
    width: 100px;
    height: 50px;
    flex: 25%;
    margin-top: 23px;
  }

  #input {
    margin-top: 5px;
  }